body {
    margin: 0;
    background: radial-gradient(#333, #111);
    width: 100%;
    height: 100vh;
}


.bar_Logo {
    background: linear-gradient(to right, #00F0FF, #7B2FF7);
    width: 100%;
    height: 120px;
    padding: 10px 20px;
    display: flex;
    flex-flow: row;
    box-sizing: border-box;
    align-items: center;
    gap: 20px;
}

.main_Logo {
    width: 100px;
    height: 100px;
}

.main_Tittle {
    font-family: "HennyPenny";
    font-size: 48px;
    color: #eee;
}


/* ---------------------------------------------------------- */
/* Juego SCRATCH */

.container_Game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 120px);
    padding: 40px;
    box-sizing: border-box;
}

iframe{
    background-color: #111;
    border-radius: 15px;
    width: 80%;
    height: 80%;
}

.game{
    display: none;
}

.button_Game {
    background-color: #00FF40;
}

.buttons_game{
    margin: 15px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

/* ----------------------------------------------------------- */
/* BOX de Instrucciones y Video */

.game_Box {
    background: #00F0FF;
    width: 95%;
    max-width: 1350px;
    height: 85vh;
    max-height: 750px;
    border: 15px solid #00F0FF;
    border-radius: 15px;
    box-shadow: 0 0 8px 2px #00F0FF;
    padding: 40px 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.game_Title {
    font-family: "Jersey";
    font-size: 65px;
    color: #00FF40;
    -webkit-text-stroke: 0.001rem #111;
    letter-spacing: 5px;
    margin: -30px 0 20px 0;
}

.box_gvideo{
    background-color: #111;
    max-width: 1100px;
    max-height: 500px;
    position: relative;
}

.video_game{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hidden{
    display: none;
}

.button_Container {
    display: flex;
    gap: 60px;
    margin-top: 30px;
}

.game_Button {
    width: 230px;
    height: 75px;
    border-radius: 20px;
    font-family: "Jersey";
    font-size: 45px;
    color: #111;
    border: none;
    cursor: pointer;
}

.button_Video {
    background-color: #00FF40;
}


.button_Video:hover,
.button_Game:hover {
    background-color: #00AA40;
    color: #eee;
}